
* {
	font-family: "Lucida Console", Times, serif;
	text-align: center; 
}

body {
	background-color: lightblue;
}

div.containter {
	background-color: lightgrey;
}

p {
	font-size: 20px;
	text-align: center;
}